In [17]:
#Importando librerias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  # Libreria para los graficos
import seaborn as sb #Sobrecapa de matplotlib graficos estadisticos 
import os

In [3]:
#Esta linea nos permite que los graficos sean renderizados directamente en nuestro notebook
#Cargamos un pandas dataframe , nuestra bd
#Nos permite al momento de graficar que aparezcan en el mismo notebook
%matplotlib inline

In [23]:
#Nos permite importar los datos desde un csv y descargarlo en un dataframe, que es la estructura de pandas
#print(os.getcwd()) Nos permite ver el directorio actual
movies=pd.read_csv('DATOS\peliculas.csv',encoding='utf-8') #Nos dijimos al directorio donde tenemos el .csv

In [22]:
type(movies) # Es objeto Dataframe , con columnas y indices

pandas.core.frame.DataFrame

In [25]:
movies.head() # 5 primeros elementos de un DataFrame

,movie_title,title_year,color,aspect_ratio,duration,language,country,duration.1,genres,content_rating,plot_keywords,director_name,actor_1_name,actor_2_name,actor_3_name,cast_total_facebook_likes,budget,imdb_score,gross
0,Avatar,2009.0,Color,1.78,178.0,English,USA,178.0,Action|Adventure|Fantasy|Sci-Fi,PG-13,avatar|future|marine|native|paraplegic,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,4834,237000000.0,7.9,760505847.0
1,Pirates of the Caribbean: At World's End,2007.0,Color,2.35,169.0,English,USA,169.0,Action|Adventure|Fantasy,PG-13,goddess|marriage ceremony|marriage proposal|pi...,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,48350,300000000.0,7.1,309404152.0
2,Spectre,2015.0,Color,2.35,148.0,English,UK,148.0,Action|Adventure|Thriller,PG-13,bomb|espionage|sequel|spy|terrorist,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,11700,245000000.0,6.8,200074175.0
3,The Dark Knight Rises,2012.0,Color,2.35,164.0,English,USA,164.0,Action|Thriller,PG-13,deception|imprisonment|lawlessness|police offi...,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,106759,250000000.0,8.5,448130642.0
4,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Documentary,NaN,NaN,Doug Walker,Doug Walker,Rob Walker,NaN,143,NaN,7.1,NaN

In [27]:
movies.shape

(5043, 19)

In [28]:
movies.columns #Columnas del dataframe

Index(['movie_title', 'title_year', 'color', 'aspect_ratio', 'duration',
       'language', 'country', 'duration.1', 'genres', 'content_rating',
       'plot_keywords', 'director_name', 'actor_1_name', 'actor_2_name',
       'actor_3_name', 'cast_total_facebook_likes', 'budget', 'imdb_score',
       'gross'],
      dtype='object')

In [29]:
#Indices del datarfame
movies.index

RangeIndex(start=0, stop=5043, step=1)

In [30]:
columna1 = movies['movie_title']

In [34]:
columna1.head() #Nos trae todo lo de esa columna es como el select movie_title from movies;

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

In [35]:
movies.loc[:,'movie_title'] #Todos los registros de la columa movie_tittle

0                                                 Avatar
1               Pirates of the Caribbean: At World's End
2                                                Spectre
3                                  The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens    ...
                              ...
5038                             Signed Sealed Delivered
5039                           The Following
5040                                A Plague So Pleasant
5041                                    Shanghai Calling
5042                                   My Date with Drew
Name: movie_title, Length: 5043, dtype: object

In [36]:
movies.loc[:,'movie_title'].head()

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

In [37]:
movies.loc[:5,'movie_title']

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
5                                         John Carter
Name: movie_title, dtype: object

In [40]:
movies.info() #Arroja el tipo de la columna y cuantos campos no nulos tiene, se hace para entender los datos mejor

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                5043 non-null   object
 1   title_year                 4935 non-null   float64
 2   color                      5024 non-null   object
 3   aspect_ratio               4714 non-null   float64
 4   duration                   5028 non-null   float64
 5   language                   5031 non-null   object
 6   country                    5038 non-null   object
 7   duration.1                 5028 non-null   float64
 8   genres                     5043 non-null   object
 9   content_rating             4740 non-null   object
 10  plot_keywords              4890 non-null   object
 11  director_name              4939 non-null   object
 12  actor_1_name               5036 non-null   object
 13  actor_2_name               5030 non-null   object
 14  actor_3_name               5020 non-null   object
 15  cast_total_facebook_likes  5043 non-null   int64
 16  budget                     4551 non-null   float64
 17  imdb_score                 5043 non-null   float64
 18  gross                      4159 non-null   float64
dtypes: float64(7), int64(1), object(11)
memory usage: 748.7+ KB

In [41]:
movies.dtypes #Arroja los tipos de datos

movie_title                   object
title_year                   float64
color                         object
aspect_ratio                 float64
duration                     float64
language                      object
country                       object
duration.1                   float64
genres                        object
content_rating                object
plot_keywords                 object
director_name                 object
actor_1_name                  object
actor_2_name                  object
actor_3_name                  object
cast_total_facebook_likes      int64
budget                       float64
imdb_score                   float64
gross                        float64
dtype: object

In [42]:
movies.dtypes == float #Compara cada uno de los datos sin necesidad de un for

movie_title                  False
title_year                    True
color                        False
aspect_ratio                  True
duration                      True
language                     False
country                      False
duration.1                    True
genres                       False
content_rating               False
plot_keywords                False
director_name                False
actor_1_name                 False
actor_2_name                 False
actor_3_name                 False
cast_total_facebook_likes    False
budget                        True
imdb_score                    True
gross                         True
dtype: bool

In [43]:
#Aritmetica de booleanos - | = or
(movies.dtypes == float) | (movies.dtypes == int)

movie_title                  False
title_year                    True
color                        False
aspect_ratio                  True
duration                      True
language                     False
country                      False
duration.1                    True
genres                       False
content_rating               False
plot_keywords                False
director_name                False
actor_1_name                 False
actor_2_name                 False
actor_3_name                 False
cast_total_facebook_likes    False
budget                        True
imdb_score                    True
gross                         True
dtype: bool

In [71]:
num = (movies.dtypes == float) | (movies.dtypes == int)
#print(num[0])
colum_numeric=list()

colum_str=list()
for llave,valor in num.items():#Lo leemos como diccionario donde la llave es la columna y el valor es true si es int or float
    if valor == True:
        colum_numeric.append(llave)
    else:
        colum_str.append(llave)
        
print(colum_str)
print(colum_numeric)

['movie_title', 'color', 'language', 'country', 'genres', 'content_rating', 'plot_keywords', 'director_name', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'cast_total_facebook_likes']
['title_year', 'aspect_ratio', 'duration', 'duration.1', 'budget', 'imdb_score', 'gross']